{% extends "hubapp/base.html" %}

{% block header %}
    <a href="{% url 'index' %}">Home</a> >
    <a href="{% url 'list' %}">Manage</a> >
    <a href="">Edit</a>
{% endblock header %}

{% block title %}
    <h2>
        Change Devices
    </h2>
{% endblock title %}

{% block content %}
    <form id="register-form" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <input type="submit" value="Submit">
        <input type="reset" value="Cancel">
    </form>
{% endblock content %}
