<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IoT Hub</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hubapp/style.css' %}">
    <link rel="title icon" type="image/png" href="{% static 'hubapp/img/smarthome.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    <div id="header">
        <div id="nav-left">
            <a href="{% url 'index' %}" class="selected"><img src="{% static 'hubapp/img/smarthome.png' %}" alt="..." style="width: 40px; height: auto; vertical-align:middle; margin-right:20px;">IoT Hub</a>
            <a href="{% url 'add' %}" class="tab">Connect</a>
            <a href="{% url 'list' %}" class="tab">Manage</a>
            <a href="{% url 'monitor' %}" class="tab">Monitor</a>
            <a href="{% url 'news' %}" class="tab">News</a>
        </div>

        <div id="nav-search">
            <form class="search-form" action="{% url 'search' %}" method="GET">
                {% csrf_token %}
                <input id="search" type="text" placeholder="Search" name="q">
                <button type="submit" id="search-button"><img src="{% static 'hubapp/img/search.png' %}" alt="Submit" style="width: 14px; height: auto; vertical-align:middle;"></button>
            </form>
        </div>

        <div id="nav-right">
            {% if user.is_authenticated  %}
                <img src="{% static 'hubapp/img/user.png' %}" alt="..." style="width: 20px; height: auto; vertical-align:middle;">
                <a href="{% url 'myprofile' %}">My Profile</a> |
                <img src="{% static 'hubapp/img/logout.png' %}" alt="..." style="width: 20px; height: auto; vertical-align:middle;">
                <a href="{% url 'signout' %}">Sign out</a> |
            {% else %}
                <img src="{% static 'hubapp/img/login.png' %}" alt="..." style="width: 20px; height: auto; vertical-align:middle;">
                <a href="{% url 'signin' %}">Sign in</a> |
            {% endif %}
          <img src="{% static 'hubapp/img/call.png' %}" alt="..." style="width: 19px; height: auto; vertical-align:middle;">
          <a href="{% url 'contactus' %}">Contact us</a>
        </div>
      </div>

      <div id="content">
        <div class="top-row">
          <div id="intro-container">
            <p class="italic-text">Welcome to IoT Hub!</p>
            <h1>IoT Hub</h1>
            <p>Connect and manage your IoT devices at-scale</p>
              {% if user.is_authenticated  %}
                <button class="hidden" onclick="location.href='{% url 'signup' %}'">Create your account →</button>
              {% else %}
                <button onclick="location.href='{% url 'signup' %}'">Create your account →</button>
              {% endif %}
          </div>
        </div>

        <div class="bottom-row">
          <div class="left-column">
            <h4>Connect your devices</h4>
            <p>You can register your IoT devices to IoT Hub. Register and scale your things.</p>
            <p class="italic-text"><a href="{% url 'add' %}">>> Go to "Connect"</a></p>
          </div>
          <div class="mid-column">
             <h4>Manage your devices</h4>
            <p>You can manage your registered devices easily. Manage your devices at once and update them easily.</p>
            <p class="italic-text"><a href="{% url 'list' %}">>> Go to "Manage"</a></p>
          </div>
          <div class="right-row">
             <h4>Monitor</h4>
            <p>You can monitor data generated from your connected devices. Visualize your data freely with personalized filters.</p>
            <p class="italic-text"><a href="{% url 'monitor' %}">>> Go to "Monitor"</a></p>
          </div>
        </div>

        {% if user.is_authenticated  %}
        <div>
            <div id="my-activity-container" class="my-column">
                <h4>My Recent Activities</h4>
                <div>
                    {% load static %}
                    <div class="card mb-3 box">
                        <div class="card-header">
                            <h5>New Devices</h5>
                        </div>
                        <div class="card-body">
                            {% for device in new_devices %}
                                <div class="btn btn-block bg-secondary text-light text-left">
                                    <img src="{% static 'hubapp/img/user2.png' %}" alt="..." class="profile-img">
                                    Added <span style="font-weight: bold;">{{ device.device_name }}</span>.
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                   <div class="card mb-3 box">
                        <div class="card-header">
                            <h5>Edited Devices</h5>
                        </div>
                       <div class="card-body">
                            {% for e_device in edited_devices %}
                                <div class="btn btn-block bg-secondary text-light text-left">
                                    <img src="{% static 'hubapp/img/user2.png' %}" alt="..." class="profile-img">
                                    Edited <span style="font-weight: bold;">{{ e_device.device_name }}</span>.
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card mb-3 box">
                        <div class="card-header">
                            <h5>Deleted Devices</h5>
                        </div>
                       <div class="card-body">
                            {% for d_device in deleted %}
                                <div class="btn btn-block bg-secondary text-light text-left">
                                    <img src="{% static 'hubapp/img/user2.png' %}" alt="..." class="profile-img">
                                    Deleted a device.
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card mb-3 box">
                        <div class="card-header">
                            <h5>New Followers</h5>
                        </div>
                        <div class="card-body">
                            {% for follower in follower_list %}
                                <div class="btn btn-block bg-secondary text-light text-left">
                                    <img src="{% static 'hubapp/img/user2.png' %}" alt="..." class="profile-img">
                                    <span style="font-weight: bold;">{{ follower.creator }}</span> started following you.
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card mb-3 box">
                        <div class="card-header">
                            <h5>New Following</h5>
                        </div>
                        <div class="card-body">
                            {% for following in following_list %}
                                <div class="btn btn-block bg-secondary text-light text-left">
                                    <img src="{% static 'hubapp/img/user2.png' %}" alt="..." class="profile-img">
                                    Started following <span style="font-weight: bold;">{{ following.to }}</span>.
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>

            <div id="other-activity-container" class="other-column">
                <h4>Following Users' Recent Activities</h4>
                    <div>
                        {% load static %}
                        <div class="card mb-3 box">
                            <div class="card-header">
                                <h5>New Devices</h5>
                            </div>
                            <div class="card-body">
                                {% for f_device in fuser_new_devices %}
                                    <div class="btn btn-block bg-secondary text-light text-left">
                                        <img src="{% static 'hubapp/img/user2.png' %}" alt="..." class="profile-img">
                                        <span style="font-weight: bold;">{{ f_device.user }}</span> added a new device.
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                       <div class="card mb-3 box">
                            <div class="card-header">
                                <h5>Edited Devices</h5>
                            </div>
                           <div class="card-body">
                                {% for f_e_device in fuser_edited_devices %}
                                    <div class="btn btn-block bg-secondary text-light text-left">
                                        <img src="{% static 'hubapp/img/user2.png' %}" alt="..." class="profile-img">
                                        <span style="font-weight: bold;">{{ f_e_device.user }}</span> edited a device.
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="card mb-3 box">
                            <div class="card-header">
                                <h5>Deleted Devices</h5>
                            </div>
                            <div class="card-body">
                                {% for f_d_device in fuser_deleted_devices %}
                                    <div class="btn btn-block bg-secondary text-light text-left">
                                        <img src="{% static 'hubapp/img/user2.png' %}" alt="..." class="profile-img">
                                        <span style="font-weight: bold;">{{ f_d_device.creator}}</span> deleted a device.
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="card mb-3 box">
                            <div class="card-header">
                                <h5>New Connections</h5>
                            </div>
                            <div class="card-body">
                                {% for f in fuser_following_list %}
                                    <div class="btn btn-block bg-secondary text-light text-left">
                                        <img src="{% static 'hubapp/img/user2.png' %}" alt="..." class="profile-img">
                                        <span style="font-weight: bold;">{{ f.creator }}</span> started following <span style="font-weight: bold;">{{ f.to }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {% else %}
        {% endif %}
    </div>
      <div id="footer">
        <div id="footer-menu">
          <a href="{% url 'index' %}" class="selected">Home</a> |
          <a href="{% url 'contactus' %}">Contact us</a>
        </div>
        <span>Copyright 2021 All Rights Reserved</span> |
        <span>Icons made by <a href="" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
      </div>
</body>
</html>