{% extends "hubapp/base.html" %}

{% block header %}
    <a href="{% url 'index' %}">Home</a> >
    <a href="{% url 'news' %}">News</a>
{% endblock header %}

{% block title %}
    <h2>
        IoT News
    </h2>
{% endblock title %}

{% block content %}
    {% load static %}
    <div id="articles-container">
        {% for value in data %}
        <div class="card mb-3 box" >
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-title"><a href="{{value.url}}">{{ value.title }}</a></p>
                        <p class="card-text">{{ value.description }}</p>
                        <p class="card-text"><small class="text-muted">{{ value.publishedat }}</small></p>
                    </div>
                </div>
                <div class="col-md-4 img-box">
                    <img src="{{ value.image }}" class="card-img" alt="this should be a picture...">
                </div>
            </div>
        </div>
         {% endfor %}
    </div>
{% endblock content %}