{% extends "hubapp/base.html" %}

{% block header %}
    <a href="{% url 'index' %}">Home</a> >
    <a href="{% url 'myprofile' %}">My Profile</a> >
    <a href="">Change Password</a>
{% endblock header %}

{% block title %}
    <h2>
        Change Password
    </h2>
{% endblock title %}

{% block content %}
        <form id="register-form" method="POST">
            {% csrf_token %}
            <div>
                <label name="label_old_password">{{ form.old_password.label }}</label>
                : {{ form.old_password }}
            </div>
            <div>
                <label name="label_new_password1">{{ form.new_password1.label }}</label>
                : {{ form.new_password1 }}
            </div>
            <div>
                <label name="label_new_password2">{{ form.new_password2.label }}</label>
                : {{ form.new_password2 }}
                <span class="help_text"> Your password must contain at least 8 characters.</span>
            </div>
            <br>
            <input type="submit" value="Submit">
            <input type="reset" value="Cancel">
        </form>
{% endblock content %}
