{% extends "hubapp/base.html" %}

{% block header %}
    <a href="{% url 'index' %}">Home</a> >
    <a href="{% url 'signup' %}">Sign up</a>
{% endblock header %}

{% block title %}
    <h2>
        Sign up
    </h2>
{% endblock title %}

{% block content %}
    {% load static %}

        <form class="register-form" method="POST">
            {% csrf_token %}
            <div>Username: {{form.username}}</div>
            <div>
                Password: {{form.password1}}<span class="help_text"> Your password must contain at least 8 characters.</span>
            </div>
            <div>
                Password Confirmation: {{form.password2}}<span class="help_text"> Enter the same password as before, for verification.</span>
            </div>
            <div>Email Address: {{form.email}}</div>
            <div>First Name: {{form.first_name}}</div>
            <div>Last Name: {{form.last_name}}</div>
            <div>Nickname: {{form.nickname}}</div>
            <div>Profile Character: {{form.profile_character}}</div>

            {% if form.errors %}
               {% for field in form %}
                      {% for error in field.errors %}
                            <div class="alert alert-danger">
                                  <strong>{{ error }}</strong>
                            </div>
                      {% endfor %}
               {% endfor %}
               {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                            <strong>{{ error }}</strong>
                      </div>
           {% endfor %}
{% endif %}

            <input type="submit" value="Submit">
            <input type="reset" value="Cancel">
        </form>

{% endblock content %}
